<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clip1599598524565922</string>
			</array>
		</dict>
	</array>
	<key>ELEVENLABS_API_KEY</key>
	<string>69d464144176e45535c23e3a3b3b245f9a3a205596ea7be1eaccb4ffebdb1274</string>
	<key>GEMINI_API_KEY</key>
	<string>AIzaSyCQKff1igJ2o0_Ra8sCVAsJrGBQKpyQsP4</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-viewapp</string>
	</array>
	<key>MWDAT</key>
	<dict>
		<key>Analytics</key>
		<dict>
			<key>OptOut</key>
			<true/>
		</dict>
		<key>AppLinkURLScheme</key>
		<string>clip1599598524565922://</string>
		<key>MetaAppID</key>
		<string>1599598524565922</string>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Needed to connect to Meta Wearables</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Required for "Clip that" voice commands and audio recording</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Required for "Clip that" and "Hey Clip" voice commands</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-peripheral</string>
		<string>external-accessory</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.meta.ar.wearable</string>
	</array>
</dict>
</plist>
